<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" th:rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Password Manager</h1>
    <hr/>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Id</th>
                <th>URL</th>
                <th>Username</th>
                <th>Password</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="item : ${entryItems}">
                <td>&nbsp;</td>
                <td th:text="${item.id}"></td>
                <td th:text="${item.url}"></td>
                <td th:text="${item.username}"></td>
                <td th:text="${item.password}"></td>
                <td th:text="${item.createdAt}"></td>
                <td th:text="${item.updatedAt}"></td>
            </tr>
        </tbody>
    </table>

    <p><a class="btn btn-outline-success" href="/create-entry">
        <i class="bi bi-plus-square-fill">Add an entry</i></a></p>

</div>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>